section#section-2.section
    .modal
        img.close-modal(src="/img/hamburger.gif", alt="three parrallel")
        ul.list-items
            h1 MENU
            li
                a(href="#") MEN
            br
            li
                a(href="#") WOMEN
            br
            li
                a(href="#") KIDS
            br
            li
                a(href="#") EXPLORE
            br
            li
                a(href="#") SALE
    .overlay
    script(src="../js/script.js")
