extends base
block Content
    h1 404
    .cloak__wrapper
        .cloak__container
            .cloak
    .info
        h2 Oops can't find this page
        p.
            We're fairly sure that page used to be here, but seems to have gone missing. We do apologise on it's behalf.
        a(href="/"  rel="noreferrer noopener") Home